<%-include("partials/header"); -%>

<h1>Hello</h1>

<p>
    <%= homeStartingContent %>
</p>

<% posts.forEach(function(post){  %>
    <h2> <%= post.blogTitle %> </h2>
    <p>
        <%= post.blogContent.substring(0,100)+"..." %> 
        <a href="posts/<%= post.blogTitle %>">Read More</a>
    </p>
<% }); %>

<!-- <% for(const post of posts){ %>
    <h2>
        <%= post.blogTitle %>
    </h2>
    <p>
        <%= post.blogContent %>
    </p>

<% } %> -->

<%-include("partials/footer"); -%>